*
!*/
!.gitignore
!*.vhd
!*.v
!*.bd
!*.edif
!*.xci
!*.dcp
!*.vds
!*.pb
!*.ui
!*.ooc
!*.mdl
!*.slx
!*.bxml
!*.wcfg
!*.coe
!*.prj
!*.mem
!*.xpr
!*.xdc
!*.tcl
!*.jou
!*.rpt
!*.txt
!*.vdi
!*.c
!*.h
!*.elf
!*.bmm
!*.xmp
